@model IEnumerable<Core.Domain.Purchases.Vendor>

@{
    ViewBag.Title = "Vendors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <h2>@Html.ActionLink("Create New", "AddVendor")</h2>
</p>
<h2>Vendors</h2>

<table class="table">
    <thead>
        <tr>
            <th>Phone No</th>
            <th>Contact Name</th>
            <th>Email</th>
            <th>City</th>
            <th>Vendor Id</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PhoneNo</td>
                <td>@item.ContactName</td>
                <td>@item.Email</td>
                <td>@item.City</td>
                <td>@item.VendorUserName</td>
                <td>

                    @Html.ActionLink("Edit", "EditVendor", new { id = item.Id }) |
                    @Html.ActionLink("Details", "GetVendor", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeleteVendor", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
