@model Core.Domain.Financials.AccountClass

@{
    ViewBag.Title = "AddAccountClass";
}

<h2>Add Account Class</h2>

@using (Html.BeginForm()) 
{
    @*@Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NormalBalance, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NormalBalance, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NormalBalance, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>*@

    <div class="panel panel-default ">
        <div class="form-group col-md-12">
            <label class="col-md-4 control-label">Account Name</label>
            <input type="text" class="col-md-6" name="Name" />

        </div>
        <div class="form-group col-md-12">
            <label class="col-md-4 control-label">Normal Balance</label>
            <input type="text" class="col-md-6" name="NormalBalance" />

        </div>

        <div class="form-group col-md-12">
            <label class="col-md-4 control-label">Account No</label>
            <input type="text" class="col-md-6" name="AccountNo" />

        </div>
        <div class="form-group col-md-12">
            <label class="col-md-4 control-label">Account Id</label>
            <input type="text" class="col-md-6" name="AccountId" />

        </div>
        <div class="form-group col-md-12">
            <label class="col-md-4 control-label">Description</label>
            <textarea rows="5" class="col-md-6" name="Description"></textarea>

        </div>
        <div>
            <input type="submit" value="Create" name="Create" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
