@model Web.Models.ViewModels.Financials.AddJournalEntry

@using Web.Models;
@{
    ViewBag.Title = "AddJournalEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="@(Url.Action("AddBatchUpload", "Home"))" class="button btn btn-md flat" style="margin-bottom: 10px; margin-top: 1px;">Do Batch Upload here</a>
<h2>Single GL Posting Entry</h2>

@using (Html.BeginForm())
{
    <div class="panel panel-default panel-body">
        <div class="form-group">
            <label class="col-md-2 control-label">Date</label>
            @Html.EditorFor(m => m.Date)
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">GL Code</label>
            @Html.TextBoxFor(m => m.ReferenceNo)
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Narration</label>
            @Html.TextBoxFor(m => m.Memo)
        </div>
        
        <div class="form-group">
            <label class="col-md-2 control-label">Account Category</label>
            @Html.DropDownListFor(m => m.AccountId, ListHelper.GetCategoryList())
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Account SubCategory</label>
            @Html.DropDownListFor(m => m.SubCategoryId, ListHelper.GetSubCategoryList())
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Debit or Credit</label>
            @Html.EnumDropDownListFor(m => m.DrCr, new { @style = "width: 70px;" })
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Amount</label>
            @Html.TextBoxFor(m => m.Amount)
        </div>
    </div>
    @*<div class="panel panel-default panel-body">
        <table class="table">
            <thead>
                <tr>
                    
                    <th>Account Category</th>
                    <th>DrCr</th>
                    <th>Amount</th>
                    <th>Narration</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                   
                    <td>@Html.DropDownListFor(m => m.AccountId, ListHelper.GetCategoryList())</td>
                  
                    <td>@Html.EnumDropDownListFor(m => m.DrCr, new { @style = "width: 70px;" })</td>
                    <td>@Html.TextBoxFor(m => m.Amount, new { @style = "width: 100px;" })</td>
                    <td>@Html.TextBoxFor(m => m.Memo)</td>
                    <td>
                        <input type="submit" value="Add Item" name="AddJournalEntryLine" /></td>
                </tr>
                @for (int i = 0; i < Model.AddJournalEntryLines.Count; i++)
                {
                    @Html.HiddenFor(m => Model.AddJournalEntryLines[i].AccountId)
                    @Html.HiddenFor(m => Model.AddJournalEntryLines[i].AccountName)
                    @Html.HiddenFor(m => Model.AddJournalEntryLines[i].Amount)
                    @Html.HiddenFor(m => Model.AddJournalEntryLines[i].DrCr)
                  
                    @Html.HiddenFor(m => Model.AddJournalEntryLines[i].Memo)
                    <tr>
                        <td>@Html.DisplayFor(m => Model.AddJournalEntryLines[i].AccountName)</td>
                        <td>@Html.DisplayFor(m => Model.AddJournalEntryLines[i].DrCr)</td>
                        <td>@Html.DisplayFor(m => Model.AddJournalEntryLines[i].Amount)</td>
                        <td>@Html.DisplayFor(m => Model.AddJournalEntryLines[i].Memo)</td>
                        <td>
                            <input type="submit" value="Delete" name="DeleteJournalEntryLine" id="@Model.AddJournalEntryLines[i].AccountId" onclick="return DeleteLineItem($(this).attr('id'));" /></td>
                    </tr>
                }
            </tbody>
        </table>
        <input type="hidden" value="" name="DeletedLineItem" />
    </div>*@
    <div>
        <input type="submit" value="Save" name="AddJournalEntry" />
    </div>
}
<script type="text/javascript">
    function DeleteLineItem(id) {
        $('input[name="DeletedLineItem"]').val(id.toString());
    }
</script>
