@model Web.Models.ViewModels.Financials.EditAccountViewModel
@using Web.Models;
@{
    ViewBag.Title = "Edit Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Account</h2>
@using (Html.BeginForm())
{
    <div class="panel panel-default panel-body">
        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            <label class="col-md-3 control-label">Account Code</label>
            @Html.TextBoxFor(m => m.AccountCode)
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Account Name</label>
            @Html.TextBoxFor(m => m.AccountName)
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Account Class</label>
            @Html.DisplayFor(m => m.AccountClass)
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Parent Account</label>
            @Html.DropDownListFor(m => m.ParentAccountId, ModelViewHelper.Accounts())
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Is Contra Account</label>
            @Html.CheckBoxFor(m => m.IsContraAccount)
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Balance</label>
            @Html.DisplayFor(m => m.Balance)
        </div>

    </div>
    <div>
        <input type="submit" value="Save" name="Save" />
    </div>
   
}