@model IEnumerable<Core.Domain.Financials.AccountSubCategory>

@{
    ViewBag.Title = "Subcategories";
}

<p>
    <h2>@Html.ActionLink("Create New", "AddAccountSubCategory")</h2>
    
</p>
<h2>Sub Categories</h2>
<table class="table">
    <tr>
        <th>
            Account Name
            @*@Html.DisplayNameFor(model => model.Accounts.AccountClass.Name)*@
        </th>
        <th>
            Account Category
            @*@Html.DisplayNameFor(model => model.Accounts.AccountName)*@
        </th>
        <th>
            Account SubCategory
            @*@Html.DisplayNameFor(model => model.AccountSubCategoryName)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Accounts.AccountClass.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Accounts.AccountName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountSubCategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditSubCategory", new { id=item.Id }) |
            @Html.ActionLink("Details", "ViewSubCategory", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteSubCategory", new { id=item.Id })
        </td>
    </tr>
}

</table>
