@model IEnumerable<Core.Domain.Financials.AccountClass>

@{
    ViewBag.Title = "View Account Class";
}



<p>
    <h2> @Html.ActionLink("Create New", "AddAccountClass")</h2>
  
</p>
<h3>View Account Class</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NormalBalance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NormalBalance)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditAccountClass", new { id=item.Id }) |
            @Html.ActionLink("Details", "GetAccountClass", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteAccountClass", new { id=item.Id })
        </td>
    </tr>
}

</table>
